input {
    border: 1px solid black;
    border-radius: 30px;
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    padding: 0 10px;  
}

input:focus {
    outline: 0;
}

button {
    background: rgb(24,36,0);
background: linear-gradient(90deg, rgba(24,36,0,1) 19%, rgba(121,9,76,1) 47%, rgba(0,255,74,1) 83%);
padding: 10px 30px !important;
border-radius: 20px !important;
letter-spacing: 3px;
}

p {
    background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(175,148,233,1) 100%);
padding: 20px 30px;
border-radius: 30px;
display: none;
}



.inputKN {
    display:  none;
}

.inputKN.myStyle {
    display:  block;
}
